

body {
    margin: 0px;
    font-family: "Open Sans";
    font-size: 0.95em;
    line-height: 1.4em;
}

.Head {
    background-color: #CCDFF6;
    background-image: url("pic/zarfhome-stripe-alpha.png");
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 120px;
    margin: 0px;
    margin-bottom: 36px;
}

.HeadCol {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 720px) {
    .Head {
        background-position: top left;
    }
}

.Head h1 {
    font-family: "Alegreya";
    font-size: 40px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.Head h1 a {
    color: inherit;
    text-decoration: none;
}
.Head h1 a:hover {
    text-decoration: underline;
    text-decoration-color: #66F;
}

.Head h3 {
    font-family: "Alegreya";
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Foot {
    clear: both;
    background-color: #CCDFF6;
    margin: 0px;
}

.FootCol {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.Foot p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

.Body {
}

.BodySub {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-left: 20px;
    padding-right: 20px;
}

.BodyMainCol {
    margin-left: 0px;
    margin-right: 200px;
}

.BodySideCol {
    float: right;
    width: 160px;
    border-left: 1px solid #CCF;
    padding-left: 20px;
}

.BodySideCol h3 {
    font-size: 0.75em;
    margin-top: 12px;
    margin-bottom: 6px;
}

.BodySideCol p {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 0.85em;
}

.BodySideCol ul {
    margin-top: 6px;
    margin-bottom: 6px;
    list-style: none;
    padding-left: 0px;
}
.BodySideCol li {
    margin-left: 10px;
    text-indent: -10px;
    font-size: 0.85em;
}

@media (max-width: 480px) {
    .Head h1 {
	font-size: 36px;
    }
    .Head h3 {
	font-size: 18px;
    }
    .SubtitleExtra {
	display: none;
    }
    .BodyMainCol {
	margin-left: 0px;
	margin-right: 0px;
    }
    .BodySideCol {
	display: none;
    }
}

.EntryHead h2 {
    font-family: "Alegreya";
    font-size: 24px;
    margin-bottom: 6px;
}

.EntryHead h4 {
    margin-top: 6px;
    margin-bottom: 6px;    
    font-size: 0.85em;
}

.EntryHead h4.Tags {
    font-weight: normal;
    font-style: italic;
}

a {
    color: #2020B0;
    text-decoration-color: #DDF;
}

a:hover {
    text-decoration-color: #2020B0;
}

blockquote {
    margin-left: 16px;
    margin-right: 4px;
    border-left: 8px solid #E0E0FF;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F4F4FF;
}

blockquote p {
    margin-top: 8px;
    margin-bottom: 8px;
}

