{% extends "page.html" %}

{% block content %}
  <div class="EntryHead">
    <h2>{{ title }}</h2>
    <h4 class="Date">{{ published }}</h4>
    {% if updated %}
      <h4 class="Date">Updated: {{ updated }}</h4>
    {% endif %}
  
    {% if tags %}
    <h4 class="Tags">Tagged:
      {% set comma = joiner(", ") %}
      {% for tag in tags -%}
        {{ comma() }}<a href="TAGDIR/{{ tag|urlencode }}">{{ tag }}</a>
      {%- endfor %}
    </h4>
    {% endif %}
  </div>

  {% autoescape false %}
  {{ body }}
  {% endautoescape %}

{% endblock %}
