{% extends "page.html" %}

{% block content %}
  <div class="EntryHead">
    <h2>{{ title }}</h2>
    <h4 class="Date">{{ entry.longpublished }}
    {% if entry.longupdated %}&nbsp; (updated {{ entry.longupdated }}){% endif %}
    </h4>
  
    {% if entry.tags %}
    <h4 class="Tags">Tagged:
      {% set comma = joiner(", ") %}
      {% for tag in entry.tags -%}
        {{ comma() }}<a href="/tag/{{ tag|tagfilename|urlencode }}">{{ tag }}</a>
      {%- endfor %}
    </h4>
    {% endif %}
  </div>

  <div class="EntryBody">
    {% autoescape false %}
    {{ entry.body }}
    {% endautoescape %}
  </div>

{% endblock %}
