{% extends "page.html" %}

{% block content %}

{% for entry in entries %}

<div id="post-{{ loop.index }}" role="article">

  <div class="EntryHead">
    <h2><a href="{{ entry.outuri }}">{{ entry.title }}</a></h2>
    <h4 class="Date">{{ entry.longpublished }}
    {% if entry.longupdated %}&nbsp; (updated {{ entry.longupdated }}){% endif %}
    </h4>
    
    {% if entry.comments %}
    <h4 class="Comments"><a href="{{ entry.outuri }}#comments">Comments: {{ entry.comments|count }}</a>
      {% if entry.commentthread.latestpublished %}
        &nbsp; (latest {{ entry.commentthread.longlatestpublished }})
      {% endif %}
    </h4>
    {% endif %}
  
    {% if entry.tags %}
    <h4 class="Tags">Tagged:
      {% set comma = joiner(", ") %}
      {% for tag in entry.tags -%}
        {{ comma() }}<a href="/tag/{{ tag|tagfilename|urlencode }}">{{ tag }}</a>
      {%- endfor %}
    </h4>
    {% endif %}
  </div>

  {% set partbody = entry.body|splitatmore %}
  <div class="EntryBody">
    {% if partbody %}
      {% autoescape false %}
      {{ partbody }}
      {% endautoescape %}
    {% else %}
      {% autoescape false %}
      {{ entry.body }}
      {% endautoescape %}
    {% endif %}
  </div>

  {% if partbody %}
    <div class="UtilHead">
      <h3 class="Selector"><a href="{{ entry.outuri }}#more">Read the rest...</a></h3>
    </div>
  {% endif %}
  {% if entry.comments %}
    <div class="UtilHead">
      <h3 class="Selector"><a href="{{ entry.outuri }}#comments">Read the comments...</a></h3>
    </div>
  {% endif %}

  <hr>

</div>

{% endfor %}

{% endblock %}
