{% extends "page.html" %}

{% block exthead %}
<style type="text/css">
h2.YearName {
  margin-bottom: 2px;
  margin-left: 0.5em;
}
.YearTable {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  border: 1px solid #CCF;
}
.Month {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border: 1px solid #CCF;
}
.Month .MonthName {
  margin: 0px;
  font-size: 0.75em;
}
</style>
{% endblock %}

{% block content %}
<div class="UtilHead">
  <h1>{{ title }}</h1>
<div>
  
{% for year in years %}
  <h2 class="YearName"><a href="/{{ year }}/">{{ year }}</a></h2>

  <div class="YearTable">
    {% for monthname, month in months %}
      {% set ymonth = "%s-%s"|format(year, month) %}
      {% set ls = blogctx.entriesbymonth[ymonth] %}
      <div class="Month">
        <h4 class="MonthName">{{ monthname }}</h4>
	{% if not ls %}
	  <div>&nbsp;</div>
	{% else %}
          <div><a href="/{{ year }}/#{{ ymonth }}">{{ ls|count }} {% if ls|count == 1 %}post{% else %}posts{% endif %}</a></div>
	{% endif %}
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}
