<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {%- if not title %}Zarf Updates{% else %}Zarf Updates: {{ title }}{% endif -%}
  </title>
  <link href="/pic/zarfmask-32.png" rel="icon">
  <meta property="og:site_name" content="Zarf Updates">
  {% block ogmetadata %}
    <meta property="og:title" content="Zarf Updates">
    <meta property="og:description" content="Interactive fiction, narrative in games, and so on">
  {% endblock %}
  <link rel="me" href="https://mastodon.gamedev.place/@zarfeblong">
  <link rel="alternate" type="application/atom+xml" title="Zarf Updates - Atom" href="{{ serverurl }}feeds/posts/default">
  <link rel="alternate" type="application/rss+xml" title="Zarf Updates - RSS" href="{{ serverurl }}feeds/posts/default.rss">
  <link rel="stylesheet" href="/css/page.css" type="text/css">
  <link rel="stylesheet" href="/css/font.css" type="text/css">
  <script src="/js/hasscript.js" type="text/javascript"></script>
  <script src="/js/menu.js" type="text/javascript"></script>
  {% block exthead %}{% endblock %}
</head>
<body>
  <div id="header" class="Head" role="banner">
    <div class="HeadCol">
      <h1><a href="/">Zarf Updates</a></h1>
      <h3><span class="Subtitle">Interactive fiction, narrative in games</span><span class="SubtitleExtra">, and so on</span></h3>
    </div>
    <div class="MenuButton"><a href="/menu" id="menubutton" onclick="return handle_menu_button(event);"><span class="GlyphDown">&#x25BC;</span><span class="GlyphUp">&#x25B2;</span></a></div>
  </div>
  
  <div class="Body"><div class="BodySub">
  
    <div id="sidebar" class="BodySideCol Sidebar" role="navigation">
      {% include "sidebar.html" %}
    </div>
    
    <div id="mainbody" class="BodyMainCol" role="main">
      {% block content %}{% endblock %}
    </div>
    
  </div></div>
  <div id="footer" class="Foot" role="contentinfo">
    <div class="FootCol">
      <p>All posts copyright by Andrew Plotkin.
      Hosted by <a href="https://zarfhome.com/">Zarfhome</a>
      and Pair.com.
      </p>
    </div>
  </div>
  <div id="menucolumn" class="MenuCol"></div>
</body>
</html>
