{% extends "page.html" %}

{% block exthead %}
<style type="text/css">
li.month {
  margin-top: 8px;
  margin-bottom: 4px;
  text-indent: 0px;
  font-size: 0.8em;
  color: #88D;
  border-top: 1px solid #CCF;
}
li.Entry {
  padding-top: 4px;
  padding-bottom: 4px;
}
.Tags {
  line-height: 1.3em;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 3em;
}
.Comments {
  line-height: 1.3em;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 3em;
}
</style>
{% endblock %}

{% block content %}
  <div class="UtilHead">
    <h1>{{ title }}</h1>

    <h3 class="Selector">
      {% if not year %}
        (See posts from:
      {% else %}
        (See <a href="/recent">recent posts</a> or posts from:
      {% endif %}
      {% for yr in years %} <a href="/year-{{ yr }}">{{ yr }}</a>{% endfor -%})
    </h3>
  </div>
  
  <ul class="PlainList">
    {% set lastmonth = 'xxx' %}
    
    {% for entry in entries %}
      {% if loop.first or loop.previtem.monthname != entry.monthname %}
        <li class="month">{{ entry.monthname }}
      {% endif %}
      
      <li class="Entry">({{ entry.shortdate }}) <a href="/{{ entry.outuri }}">{{ entry.title }}</a>
      
      {% if entry.comments %}
        <div class="Comments">{{ entry.comments|count }} comments
          {% if entry.commentthread.latestpublished %}
            &nbsp; (latest {{ entry.commentthread.longlatestpublished }})
          {% endif %}
        </div>
      {% endif %}
    
      {% if entry.tags %}
        <div class="Tags">
        {% set comma = joiner(", ") %}
        {% for tag in entry.tags -%}
          {{ comma() }}<a href="/tag/{{ tag|tagfilename|urlencode }}">{{ tag }}</a>
        {%- endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}
  
