
<a href="/about"><img src="/pic/zarfmask-160.png" alt="An abstract gold mask" width=80 height=80></a>

<h3>Posts by</h3>
<p><a href="/about">Andrew Plotkin</a></p>

<h3>My links</h3>
<ul>
  <li><a rel="me" href="https://mastodon.gamedev.place/@zarfeblong">zarfeblong@mastodon</a>
  <li><a href="https://eblong.com/if">My IF</a>
  <li><a href="https://zarfhome.com/">Zarfhome Software</a>
  <li><a href="https://iftechfoundation.org/">IFTF</a>
  <li><a href="https://eblong.com/zarf/sitemap.html">Older projects</a>
</ul>

<h3><a href="/history">Blog archive</a></h3>

<p>
  (<a href="/recent">recent</a>)
  {% for year in blogctx.recentyears %}
    <a href="/{{ year }}/">{{ year }}</a>
  {% endfor %}
  (<a href="/history">more...</a>)
</p>

{% set populartags = ['if', 'interactive fiction', 'zarf', 'myst', 'cyan', 'hadean lands', 'meanwhile', 'igf', 'boston', 'infocom', 'zork'] %}

<h3><a href="/tags">Tag archive</a></h3>
<p>
  {% for tag in populartags %}
    <a href="/tag/{{ tag|tagfilename|urlencode }}">{{ tag }}</a>
  {% endfor %}
  (<a href="/tags">more...</a>)
</p>

{% if recentfew %}
<h3><a href="/recent">Recent posts</a></h3>
<ul>
{% for ent in recentfew %}
  <li><a href="/{{ ent.outuri }}">{{ ent.title }}</a>
{% endfor %}
</ul>
{% endif %}

{% if preventry %}
<h3>Previous post</h3>
<ul>
  <li><a rel="prev" href="/{{ preventry.outuri }}">{{ preventry.title }}</a>
</ul>
{% endif %}

{% if nextentry %}
<h3>Next post</h3>
<ul>
  <li><a rel="next" href="/{{ nextentry.outuri }}">{{ nextentry.title }}</a>
</ul>
{% endif %}

<h3>Feeds</h3>
<p>
  <a href="/feeds/posts/default">atom</a>
  <a href="/feeds/posts/default.rss">rss</a>
</p>

<h3><a href="http://weheart.github.io/">Games are for everyone</a></h3>
<a href="http://weheart.github.io/"><img src="/pic/weheart-64.png" alt="A blue and purple heart" width=64 height=64></a>
