<a href="/about.html"><img src="/pic/zarfmask-160.png" alt="An abstract gold mask" width=80 height=80></a>

<h3>Posts by</h3>
<p><a href="/about.html">Andrew Plotkin</a></p>

<h3>My links</h3>
<ul>
  <li><a href="https://mastodon.gamedev.place/@zarfeblong">zarfeblong@mastodon</a>
  <li><a href="https://eblong.com/if">My IF</a>
  <li><a href="https://zarfhome.com/">Zarfhome Software</a>
  <li><a href="https://iftechfoundation.org/">IFTF</a>
  <li><a href="https://eblong.com/zarf/sitemap.html">Older projects</a>
</ul>

<h3><a href="/recent.html">Blog archive</a></h3>

{% set populartags = ['if', 'interactive fiction', 'zarf', 'myst', 'cyan', 'inform'] %}

<h3><a href="/tags.html">Tag archive</a></h3>
<p>
  {% for tag in populartags %}
    <a href="/tag/{{ tag|tagfilename|urlencode }}.html">{{ tag }}</a>
  {% endfor %}
  (<a href="/tags.html">more...</a>)
</p>

<h3>Recent posts</h3>
<ul>
  <li><a href="/###">Firmament: design and business ruminations</a>
  <li><a href="/###">A few notes on notes on Disco Elysium</a>
  <li><a href="/###">Narrative games that I wrote about but forgot to post</a>
</ul>

{% if preventry %}
<h3>Previous post</h3>
<ul>
  <li><a href="/{{ preventry.outpath }}">{{ preventry.title }}</a>
</ul>
{% endif %}

{% if nextentry %}
<h3>Next post</h3>
<ul>
  <li><a href="/{{ nextentry.outpath }}">{{ nextentry.title }}</a>
</ul>
{% endif %}

<h3><a href="http://weheart.github.io/">Games are for everyone</a></h3>
<a href="http://weheart.github.io/"><img src="/pic/weheart-64.png" alt="A blue and purple heart" width=64 height=64></a>
