{% extends "page.html" %}

{% block exthead %}
<style type="text/css">
.Tag {
  display: inline-block;
  min-width: 150px;
  line-height: 1.7em;
}
</style>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  {% if sortby != 'freq' %}
  <p><i>(<a href="/tags-freq.html">Sort by frequency instead</a>)</i></p>
  {% endif %}

  {% if sortby != 'alpha' %}
  <p><i>(<a href="/tags.html">Sort alphabetically instead</a>)</i></p>
  {% endif %}

  <hr>
  
  <div class="TagTable">
    {% for tag, count in tags %}
      <div class="Tag"><a href="/tag/{{ tag|tagfilename|urlencode }}.html">{{ tag }}</a> ({{ count }})</div>
    {% endfor %}
  </div>

{% endblock %}
