{% extends "page.html" %}

{% block exthead %}
<style type="text/css">
.TagTable {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
}
.Tag {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}
</style>
{% endblock %}

{% block content %}
  <div class="UtilHead">
    <h1>{{ title }}</h1>

    {% if sortby != 'freq' %}
      <h3 class="Selector">(<a href="/tags-freq">Sort by frequency instead</a>)</h3>
    {% endif %}

    {% if sortby != 'alpha' %}
      <h3 class="Selector">(<a href="/tags">Sort alphabetically instead</a>)</h3>
    {% endif %}
  </div>
  
  <hr>
  
  <div class="TagTable">
    {% for tag, count in tags %}
      <div class="Tag"><a href="/tag/{{ tag|tagfilename|urlencode }}">{{ tag }}</a> ({{ count }})</div>
    {% endfor %}
  </div>

{% endblock %}
