
<h3>Posts by</h3>
<p><a href="/about">{{ ownername }}</a></p>

<h3>My links</h3>
<ul>
  <li><a href="https://github.com/erkyrath/bloggor">This blog generator</a>
</ul>

<h3>Search (via <a href="https://duckduckgo.com/about">DDG</a>)</h3>

<form class="UtilMenu" action="https://duckduckgo.com/" method="get">
  <input type="hidden" name="sites" value="blog.zarfhome.com">
  <input type="search" name="q">
  <input type="submit" value="Search">
</form>

<h3><a href="/history">Blog archive</a></h3>

<p>
  (<a href="/recent">recent</a>)
  {% for year in blogctx.recentyears %}
    <a href="/{{ year }}/">{{ year }}</a>
  {% endfor %}
  (<a href="/history">more...</a>)
</p>

{% set populartags = ['examples', 'hello', 'markdown', 'html'] %}

<h3><a href="/tags">Tag archive</a></h3>
<p>
  {% for tag in populartags %}
    <a href="/tag/{{ tag|tagfilename|urlencode }}">{{ tag }}</a>
  {% endfor %}
  (<a href="/tags">more...</a>)
</p>

{% if recentfew %}
<h3><a href="/recent">Recent posts</a></h3>
<ul>
{% for ent in recentfew %}
  <li><a href="/{{ ent.outuri }}">{{ ent.title }}</a>
{% endfor %}
</ul>
{% endif %}

{% if preventry %}
<h3>Previous post</h3>
<ul>
  <li><a rel="prev" href="/{{ preventry.outuri }}">{{ preventry.title }}</a>
</ul>
{% endif %}

{% if nextentry %}
<h3>Next post</h3>
<ul>
  <li><a rel="next" href="/{{ nextentry.outuri }}">{{ nextentry.title }}</a>
</ul>
{% endif %}

<h3>Feeds</h3>
<p>
  <a href="/feeds/posts/default">atom</a>
  <a href="/feeds/posts/default.rss">rss</a>
</p>

